{
    ApplicationDescription = "No description avaliable!";
    ApplicationIcon = "VimGS.tiff";
    ApplicationName = VimGS;
    ApplicationRelease = "0.1";
    Copyright = "Copyright (C) 200x";
    CopyrightDescription = "Released under ...";
    FullVersionID = "0.1";
    NSExecutable = VimGS;
    NSIcon = "VimGS.tiff";
    NSMainNibFile = "vim.gorm";
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    NSServices = (
	{
	    NSKeyEquivalent = {
		default = "";
	    };
	    NSMenuItem = {
		default = "VimGS/Edit Selection";
	    };
	    NSMessage = editSelectionService;
	    NSPortName = VimGS;
	    NSSendTypes = (
		NSStringPboardType
	    );
	},
	{
	    NSKeyEquivalent = {
		default = "";
	    };
	    NSMenuItem = {
		default = "VimGS/Open Selected File";
	    };
	    NSMessage = openSelectionService;
	    NSPortName = VimGS;
	    NSSendTypes = (
		NSStringPboardType,
		NSFilenamesPboardType
	    );
	}
    );
    NSTypes = (
	{
	    NSUnixExtensions = (
		c,
		h,
		m,
		vim,
		pl,
		py,
		java,
		js
	    );
	}
    );
}